In [3]:
# importa biblioteca pandas
import pandas as pd

# importa biblioteca numpy
import numpy as np

# local do arquivo
Caminho='/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1ðŸ‡§ðŸ‡·-statiscalMeasures_ Hypothesis Testing II./Dataset/cadastro_funcionarios.xlsx'

In [4]:

df = pd.read_excel(Caminho)

In [5]:
df.head( )

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [6]:
#amostra aleatÃ³ria simples sem repetiÃ§Ã£o com 20 elementos
amostra = df.sample(20, replace=False)
amostra

      ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
249  250            s              s         0     8.00     32      int
309  310            s              m         0    13.56     46      out
207  208            c              s         3    17.26     43      int
155  156            s              m         0     9.35     38      int
216  217            s              m         0     5.81     20      out
157  158            c              f         3     9.80     39      out
86    87            c              m         1     9.77     33      cap
344  345            c              f         0    13.50     46      cap
7      8            s              f         0     7.39     43      cap
312  313            c              m         3    15.77     35      cap
295  296            s              m         0     8.77     37      cap
57    58            s              f         0    11.00     41      out
301  302            s              f         0     6.80     25      out
115  116            c              m         2     8.12     34      int
280  281            c              s         3    17.44     42      out
241  242            c              m         5    15.87     40      int
176  177            c              f         2     4.56     32      cap
99   100            c              m         3    15.99     35      cap
20    21            c              m         1    11.06     30      int
415  416            c              f         0    14.70     29      int

In [7]:
#amostra aleatÃ³ria simples sem repetiÃ§Ã£o com 20 elementos
amostra = df.sample(20, replace=False)
amostra

      ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
236  237            c              f         1     8.09     28      out
285  286            c              f         2     5.20     36      cap
226  227            c              f         3     8.90     44      out
168  169            c              m         5    14.71     40      out
278  279            s              f         0     8.40     33      out
107  108            c              f         1     5.25     36      cap
123  124            c              s         0    10.53     25      int
197  198            s              f         0    13.00     41      out
229  230            c              f         3     9.77     35      out
165  166            c              m         1    13.60     35      out
60    61            c              m         2    13.60     35      int
62    63            c              f         0    14.69     29      int
409  410            s              m         0    11.60     34      cap
155  156            s              m         0     9.35     38      int
262  263            c              s         1    11.40     32      cap
418  419            s              s         0    16.35     33      out
161  162            s              m         0    11.59     34      int
215  216            c              f         2     5.75     36      cap
373  374            c              m         1    11.08     30      out
185  186            c              m         2     8.12     36      int

In [8]:
#amostra aleatÃ³ria simples sem repetiÃ§Ã£o com 20 elementos FIXANDO A SEMENTE ALEATÃ“RIA
amostra = df.sample(n=20, replace=False, random_state=2903)
amostra

      ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
386  387            s              s         0    18.30     33      out
177  178            c              m         2     5.25     36      cap
128  129            c              m         0    12.79     26      out
69    70            c              m         2    19.40     49      cap
78    79            c              m         0     7.59     34      cap
309  310            s              m         0    13.56     46      out
124  125            s              m         0    10.76     35      int
311  312            c              s         5    14.98     40      int
10    11            c              m         2     8.12     33      int
285  286            c              f         2     5.20     36      cap
80    81            c              m         2     8.12     33      out
163  164            c              s         2    12.79     26      out
88    89            s              s         0    11.01     25      int
307  308            c              s         2    13.34     32      int
363  364            c              m         1    10.50     33      int
329  330            s              f         0     8.50     27      out
238  239            c              s         1    12.90     35      cap
269  270            s              s         0    11.75     34      cap
95    96            c              m         1    13.60     35      out
74    75            s              f         0     7.00     40      out

In [9]:
#verifica as classes da variÃ¡vel e sua proporÃ§Ã£o
perc_est_civ=df["estado_civil"].value_counts(normalize = True)

perc_est_civ

estado_civil
c    0.57277
s    0.42723
Name: proportion, dtype: float64

In [10]:
# Executa a amostra estratificada igualitÃ¡ria por estado civil
amostra_est_igual=df.groupby(['estado_civil'], group_keys=False).apply(lambda x: x.sample(n=10,replace=False,random_state=2903))

amostra_est_igual

/var/folders/sp/qr0jn46s10x5j0y77wb390d00000gn/T/ipykernel_97498/4220904909.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  amostra_est_igual=df.groupby(['estado_civil'], group_keys=False).apply(lambda x: x.sample(n=10,replace=False,random_state=2903))

      ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
102  103            c              s         3    17.26     43      int
80    81            c              m         2     8.12     33      out
376  377            c              s         2    12.80     26      out
413  414            c              m         3    13.70     35      out
29    30            c              m         2    15.99     35      cap
66    67            c              m         1    16.61     36      cap
97    98            c              s         0    14.69     29      int
139  140            c              m         3    19.40     48      cap
312  313            c              m         3    15.77     35      cap
207  208            c              s         3    17.26     43      int
117  118            s              m         0     8.74     37      int
36    37            s              f         0     4.56     31      cap
329  330            s              f         0     8.50     27      out
313  314            s              s         0    16.33     33      out
173  174            s              s         0    18.75     33      out
197  198            s              f         0    13.00     41      out
292  293            s              m         0     7.50     24      out
309  310            s              m         0    13.56     46      out
54    55            s              s         0    10.76     37      int
33    34            s              s         0    18.75     33      cap

In [11]:
#definir total desejado
N = 20

# Executa a amostra estratificada proporcional por estado civil 
amostra_est_prop = df.groupby(['estado_civil'], group_keys=False).apply(
    lambda x: x.sample(int(np.rint(N * len(x) / len(df))), random_state=2903)  # CÃ¡lculo proporcional da amostra
).sample(frac=1, random_state=2903).reset_index(drop=True)  # Embaralhar a amostra

amostra_est_prop

/var/folders/sp/qr0jn46s10x5j0y77wb390d00000gn/T/ipykernel_97498/3286174894.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  amostra_est_prop = df.groupby(['estado_civil'], group_keys=False).apply(

     ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0    55            s              s         0    10.76     37      int
1   103            c              s         3    17.26     43      int
2    81            c              m         2     8.12     33      out
3   377            c              s         2    12.80     26      out
4   198            s              f         0    13.00     41      out
5   118            s              m         0     8.74     37      int
6    37            s              f         0     4.56     31      cap
7    67            c              m         1    16.61     36      cap
8   414            c              m         3    13.70     35      out
9   140            c              m         3    19.40     48      cap
10   30            c              m         2    15.99     35      cap
11  313            c              m         3    15.77     35      cap
12  314            s              s         0    16.33     33      out
13  293            s              m         0     7.50     24      out
14  208            c              s         3    17.26     43      int
15  174            s              s         0    18.75     33      out
16  330            s              f         0     8.50     27      out
17  157            c              m         1     9.77     33      cap
18   98            c              s         0    14.69     29      int
19  310            s              m         0    13.56     46      out

In [12]:

#verifica a proporÃ§Ã£o de cada estado civil
perc_est_civ=amostra_est_prop["estado_civil"].value_counts(normalize = True)
perc_est_civ

estado_civil
c    0.55
s    0.45
Name: proportion, dtype: float64