# FaÃ§a uma amostra estratificada por grau de instruÃ§Ã£o e regiÃ£o de procedÃªncia, considerando 10 casos por estrato.

In [1]:
# importa biblioteca pandas
import pandas as pd

# importa biblioteca numpy
import numpy as np

# local do arquivo
Caminho='/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1ðŸ‡§ðŸ‡·-statiscalMeasures_ Hypothesis Testing II./answeredCodes_statiscalMeasures/cadastro_funcionarios.xlsx'

In [2]:
df=pd.read_excel(Caminho)

In [3]:
df.head( )

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [4]:
#amostra aleatÃ³ria simples sem repetiÃ§Ã£o com 20 elementos
amostra = df.sample(20, replace=False)
amostra

      ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
60    61            c              m         2    13.60     35      int
129  130            c              s         2    13.23     32      int
107  108            c              f         1     5.25     36      cap
234  235            s              m         0    11.59     34      cap
213  214            s              f         0     4.50     26      int
170  171            s              s         0    16.22     31      cap
116  117            s              f         0     8.46     27      out
423  424            c              s         3    23.50     43      int
184  185            s              m         0     7.44     25      out
258  259            c              s         3    10.90     33      cap
420  421            c              s         3    17.80     43      int
338  339            c              s         1    12.57     31      cap
214  215            c              f         1     4.62     32      cap
2      3            c              f         2     5.25     36      cap
157  158            c              f         3     9.80     39      out
379  380            s              f         0    13.90     44      out
281  282            s              s         0    18.43     34      int
424  425            c              m         1    23.90     41      cap
181  182            s              m         0     6.86     41      int
240  241            c              s         0    16.80     31      cap

In [5]:
#amostra aleatÃ³ria simples sem repetiÃ§Ã£o com 20 elementos
amostra = df.sample(20, replace=False)
amostra

      ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
104  105            c              s         2    19.40     48      cap
334  335            c              s         1     9.60     31      cap
379  380            s              f         0    13.90     44      out
326  327            c              m         1     7.65     35      cap
383  384            s              s         0    16.50     33      int
422  423            c              m         2    19.30     48      int
179  180            s              f         0     6.26     41      out
129  130            c              s         2    13.23     32      int
229  230            c              f         3     9.77     35      out
291  292            c              m         0     7.70     34      cap
324  325            s              f         0     7.21     41      out
279  280            c              s         2    16.88     36      int
333  334            s              m         0     9.40     38      cap
123  124            c              s         0    10.53     25      int
22    23            s              f         0    12.00     41      out
27    28            c              m         0    14.69     29      int
236  237            c              f         1     8.09     28      out
217  218            s              f         0     6.21     40      out
284  285            c              m         2     7.60     32      int
220  221            s              f         0     7.20     43      cap

In [6]:
#amostra aleatÃ³ria simples sem repetiÃ§Ã£o com 20 elementos FIXANDO A SEMENTE ALEATÃ“RIA
amostra = df.sample(n=20, replace=False, random_state=2903)
amostra

      ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
386  387            s              s         0    18.30     33      out
177  178            c              m         2     5.25     36      cap
128  129            c              m         0    12.79     26      out
69    70            c              m         2    19.40     49      cap
78    79            c              m         0     7.59     34      cap
309  310            s              m         0    13.56     46      out
124  125            s              m         0    10.76     35      int
311  312            c              s         5    14.98     40      int
10    11            c              m         2     8.12     33      int
285  286            c              f         2     5.20     36      cap
80    81            c              m         2     8.12     33      out
163  164            c              s         2    12.79     26      out
88    89            s              s         0    11.01     25      int
307  308            c              s         2    13.34     32      int
363  364            c              m         1    10.50     33      int
329  330            s              f         0     8.50     27      out
238  239            c              s         1    12.90     35      cap
269  270            s              s         0    11.75     34      cap
95    96            c              m         1    13.60     35      out
74    75            s              f         0     7.00     40      out

In [7]:
#verifica as classes da variÃ¡vel e sua proporÃ§Ã£o
perc_est_civ=df["estado_civil"].value_counts(normalize = True)

perc_est_civ

estado_civil
c    0.57277
s    0.42723
Name: proportion, dtype: float64

In [8]:
# Executa a amostra estratificada igualitÃ¡ria por estado civil
amostra_est_igual=df.groupby(['estado_civil'], group_keys=False).apply(lambda x: x.sample(n=10,replace=False,random_state=2903))

amostra_est_igual

/var/folders/sp/qr0jn46s10x5j0y77wb390d00000gn/T/ipykernel_18921/4220904909.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  amostra_est_igual=df.groupby(['estado_civil'], group_keys=False).apply(lambda x: x.sample(n=10,replace=False,random_state=2903))

      ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
102  103            c              s         3    17.26     43      int
80    81            c              m         2     8.12     33      out
376  377            c              s         2    12.80     26      out
413  414            c              m         3    13.70     35      out
29    30            c              m         2    15.99     35      cap
66    67            c              m         1    16.61     36      cap
97    98            c              s         0    14.69     29      int
139  140            c              m         3    19.40     48      cap
312  313            c              m         3    15.77     35      cap
207  208            c              s         3    17.26     43      int
117  118            s              m         0     8.74     37      int
36    37            s              f         0     4.56     31      cap
329  330            s              f         0     8.50     27      out
313  314            s              s         0    16.33     33      out
173  174            s              s         0    18.75     33      out
197  198            s              f         0    13.00     41      out
292  293            s              m         0     7.50     24      out
309  310            s              m         0    13.56     46      out
54    55            s              s         0    10.76     37      int
33    34            s              s         0    18.75     33      cap

In [9]:
#definir total desejado
N = 20

# Executa a amostra estratificada proporcional por estado civil
amostra_est_prop = df.groupby(['estado_civil'], group_keys=False).apply(
    lambda x: x.sample(int(np.rint(N * len(x) / len(df))), random_state=2903)  # CÃ¡lculo proporcional da amostra
).sample(frac=1, random_state=2903).reset_index(drop=True)  # Embaralhar a amostra

amostra_est_prop

/var/folders/sp/qr0jn46s10x5j0y77wb390d00000gn/T/ipykernel_18921/2755441431.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  amostra_est_prop = df.groupby(['estado_civil'], group_keys=False).apply(

     ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0    55            s              s         0    10.76     37      int
1   103            c              s         3    17.26     43      int
2    81            c              m         2     8.12     33      out
3   377            c              s         2    12.80     26      out
4   198            s              f         0    13.00     41      out
5   118            s              m         0     8.74     37      int
6    37            s              f         0     4.56     31      cap
7    67            c              m         1    16.61     36      cap
8   414            c              m         3    13.70     35      out
9   140            c              m         3    19.40     48      cap
10   30            c              m         2    15.99     35      cap
11  313            c              m         3    15.77     35      cap
12  314            s              s         0    16.33     33      out
13  293            s              m         0     7.50     24      out
14  208            c              s         3    17.26     43      int
15  174            s              s         0    18.75     33      out
16  330            s              f         0     8.50     27      out
17  157            c              m         1     9.77     33      cap
18   98            c              s         0    14.69     29      int
19  310            s              m         0    13.56     46      out

In [10]:

#verifica a proporÃ§Ã£o de cada estado civil
perc_est_civ=amostra_est_prop["estado_civil"].value_counts(normalize = True)
perc_est_civ

estado_civil
c    0.55
s    0.45
Name: proportion, dtype: float64

In [11]:
# Executa a amostra estratificada igualitÃ¡ria por regiao de procedencia
amostra_est_igual=df.groupby(['reg_proc'], group_keys=False).apply(lambda x: x.sample(n=10,replace=False,random_state=2903))

amostra_est_igual

/var/folders/sp/qr0jn46s10x5j0y77wb390d00000gn/T/ipykernel_18921/235639978.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  amostra_est_igual=df.groupby(['reg_proc'], group_keys=False).apply(lambda x: x.sample(n=10,replace=False,random_state=2903))

      ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
375  376            s              f         0    12.20     41      cap
107  108            c              f         1     5.25     36      cap
230  231            c              m         1     9.80     35      cap
118  119            c              f         3     8.95     44      cap
214  215            c              f         1     4.62     32      cap
72    73            c              f         2     5.25     36      cap
56    57            s              s         0    11.59     34      cap
306  307            c              f         0     6.12     26      cap
170  171            s              s         0    16.22     31      cap
333  334            s              m         0     9.40     38      cap
172  173            c              s         3    17.26     43      int
164  165            c              m         1    13.23     32      int
62    63            c              f         0    14.69     29      int
206  207            c              m         1    16.61     35      int
219  220            s              f         0     6.80     41      int
102  103            c              s         3    17.26     43      int
310  311            c              s         0    14.43     29      int
343  344            c              m         2    13.70     35      int
300  301            c              m         2    10.50     35      int
320  321            c              m         2     6.80     34      int
65    66            s              s         0    16.22     33      out
421  422            s              s         0    18.75     33      out
292  293            s              m         0     7.50     24      out
57    58            s              f         0    11.00     41      out
38    39            s              m         0     5.73     22      out
197  198            s              f         0    13.00     41      out
95    96            c              m         1    13.60     35      out
116  117            s              f         0     8.46     27      out
391  392            s              f         0     5.72     20      out
236  237            c              f         1     8.09     28      out

In [12]:
# Executa a amostra estratificada igualitÃ¡ria por grau de instruÃ§Ã£o
amostra_est_igual=df.groupby(['grau_instrucao'], group_keys=False).apply(lambda x: x.sample(n=10,replace=False,random_state=2903))

amostra_est_igual

/var/folders/sp/qr0jn46s10x5j0y77wb390d00000gn/T/ipykernel_18921/2774049528.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  amostra_est_igual=df.groupby(['grau_instrucao'], group_keys=False).apply(lambda x: x.sample(n=10,replace=False,random_state=2903))

      ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
400  401            s              f         0     8.84     37      out
359  360            s              f         0     6.90     41      out
141  142            c              f         1     4.56     33      cap
290  291            c              f         0     7.40     43      cap
358  359            c              f         0     6.70     28      int
325  326            s              f         0     7.34     42      cap
62    63            c              f         0    14.69     29      int
388  389            s              f         0     4.10     26      int
306  307            c              f         0     6.12     26      cap
35    36            s              f         0     4.20     27      int
276  277            c              m         5    14.80     40      int
345  346            c              m         2    14.70     29      out
393  394            c              m         0     6.39     28      out
24    25            c              m         2    13.23     32      int
234  235            s              m         0    11.59     34      cap
200  201            c              m         3    13.60     35      out
369  370            c              m         1     9.70     33      cap
55    56            c              m         2    11.06     30      int
312  313            c              m         3    15.77     35      cap
362  363            s              m         0     9.60     28      cap
368  369            s              s         0    14.55     38      int
100  101            s              s         0    16.22     33      out
350  351            c              s         3    17.80     43      int
67    68            c              s         3    17.26     43      int
321  322            s              s         0    15.32     26      out
311  312            c              s         5    14.98     40      int
172  173            c              s         3    17.26     43      int
210  211            c              s         3    23.30     43      int
406  407            s              s         0    10.40     25      out
198  199            c              s         0    12.79     29      out

In [13]:
# Executa a amostra estratificada igualitÃ¡ria por reg_proc e grau de instrucao
amostra_est_igual=df.groupby(['reg_proc','grau_instrucao'], group_keys=False).apply(lambda x: x.sample(n=10,replace=False,random_state=2903))
amostra_est_igual

/var/folders/sp/qr0jn46s10x5j0y77wb390d00000gn/T/ipykernel_18921/4059073006.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  amostra_est_igual=df.groupby(['reg_proc','grau_instrucao'], group_keys=False).apply(lambda x: x.sample(n=10,replace=False,random_state=2903))

      ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
322  323            s              f         0     6.45     40      cap
36    37            s              f         0     4.56     31      cap
267  268            s              f         0     7.30     35      cap
2      3            c              f         2     5.25     36      cap
7      8            s              f         0     7.39     43      cap
..   ...          ...            ...       ...      ...    ...      ...
23    24            c              s         0    12.79     26      out
30    31            s              s         0    16.22     31      out
198  199            c              s         0    12.79     29      out
364  365            s              s         0    11.30     28      out
406  407            s              s         0    10.40     25      out

[90 rows x 7 columns]

# ADICIONAL

In [14]:
# Importar bibliotecas pandas e numpy
import pandas as pd
import numpy as np

In [15]:
# Definir o caminho do arquivo
Caminho='/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1ðŸ‡§ðŸ‡·-statiscalMeasures_ Hypothesis Testing II./answeredCodes_statiscalMeasures/cadastro_funcionarios.xlsx'

In [16]:
# Ler o arquivo Excel em um DataFrame
df=pd.read_excel(Caminho)

In [17]:
# Criar uma amostra estratificada igualitÃ¡ria por grau de instruÃ§Ã£o e regiÃ£o de procedÃªncia
amostra_est_igual = df.groupby(['grau_instrucao', 'reg_proc'], group_keys=False).apply(lambda x: x.sample(n=10, replace=False, random_state=2903))

/var/folders/sp/qr0jn46s10x5j0y77wb390d00000gn/T/ipykernel_18921/601465964.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  amostra_est_igual = df.groupby(['grau_instrucao', 'reg_proc'], group_keys=False).apply(lambda x: x.sample(n=10, replace=False, random_state=2903))

In [18]:
# Exibir a amostra resultante
print(amostra_est_igual)

      ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
322  323            s              f         0     6.45     40      cap
36    37            s              f         0     4.56     31      cap
267  268            s              f         0     7.30     35      cap
2      3            c              f         2     5.25     36      cap
7      8            s              f         0     7.39     43      cap
..   ...          ...            ...       ...      ...    ...      ...
23    24            c              s         0    12.79     26      out
30    31            s              s         0    16.22     31      out
198  199            c              s         0    12.79     29      out
364  365            s              s         0    11.30     28      out
406  407            s              s         0    10.40     25      out

[90 rows x 7 columns]


# min(len(x), 10)
Garante que, se um estrato tiver menos de 10 elementos, ele nÃ£o tentarÃ¡ amostrar mais do que o disponÃ­vel. Isso evita erros ao tentar amostrar mais elementos do que existem em um estrato especÃ­fico.

# reset_index(drop=True)
Reseta o Ã­ndice do DataFrame resultante para evitar Ã­ndices duplicados. Isso Ã© Ãºtil para manter a integridade dos dados e facilitar a manipulaÃ§Ã£o subsequente do DataFrame.

# DescriÃ§Ã£o do CÃ³digo
Este cÃ³digo cria uma amostra estratificada igualitÃ¡ria por grau de instruÃ§Ã£o e regiÃ£o de procedÃªncia, considerando atÃ© 10 casos por estrato. A amostra resultante Ã© exibida e salva em um novo arquivo Excel.

# ConclusÃ£o
A amostragem estratificada Ã© uma tÃ©cnica poderosa para garantir que todas as subpopulaÃ§Ãµes (estratos) sejam representadas adequadamente na amostra. Neste caso, a amostra foi estratificada por grau de instruÃ§Ã£o e regiÃ£o de procedÃªncia, garantindo uma representaÃ§Ã£o equilibrada de cada estrato. A amostra resultante foi salva em um novo arquivo Excel para futuras anÃ¡lises.

### ðŸ‘‡ Para salvar a amostra estratificada em um novo arquivo Excel, vocÃª pode usar o mÃ©todo `to_excel` fornecido pelo pandas. Abaixo estÃ¡ o cÃ³digo completo, incluindo os passos para salvar a amostra:

In [19]:
# Importar bibliotecas pandas e numpy
import pandas as pd
import numpy as np

# Ler o arquivo Excel em um DataFrame
df=pd.read_excel(Caminho)

# Criar uma amostra estratificada igualitÃ¡ria por grau de instruÃ§Ã£o e regiÃ£o de procedÃªncia
amostra_est_igual = df.groupby(['grau_instrucao', 'reg_proc'], group_keys=False).apply(lambda x: x.sample(n=min(len(x), 10), replace=False, random_state=2903)).reset_index(drop=True)

# Exibir a amostra resultante
print(amostra_est_igual)

# Salvar a amostra estratificada em um novo arquivo Excel
caminho_saida = '/Users/fabicampanari/Desktop/amostra_estratificada.xlsx'
amostra_est_igual.to_excel(caminho_saida, index=False)

print(f"A amostra estratificada foi salva em {caminho_saida}")

/var/folders/sp/qr0jn46s10x5j0y77wb390d00000gn/T/ipykernel_18921/991707383.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  amostra_est_igual = df.groupby(['grau_instrucao', 'reg_proc'], group_keys=False).apply(lambda x: x.sample(n=min(len(x), 10), replace=False, random_state=2903)).reset_index(drop=True)

     ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   323            s              f         0     6.45     40      cap
1    37            s              f         0     4.56     31      cap
2   268            s              f         0     7.30     35      cap
3     3            c              f         2     5.25     36      cap
4     8            s              f         0     7.39     43      cap
..  ...          ...            ...       ...      ...    ...      ...
85   24            c              s         0    12.79     26      out
86   31            s              s         0    16.22     31      out
87  199            c              s         0    12.79     29      out
88  365            s              s         0    11.30     28      out
89  407            s              s         0    10.40     25      out

[90 rows x 7 columns]
A amostra estratificada foi salva em /Users/fabicampanari/Desktop/amostra_estratificada.xlsx